<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type ID</th>
            <th scope="col">Address Location-suburb</th>
            <th scope="col">State ID</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hello</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>
              <a href="#" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>