<div [formGroup]="parent">
  <div formGroupName="trainingOrganisation" class="row">
    <!-- start: Col -->
    <div class="col-md-2">
      <div class="form-group">
        <label>ID<span class="text-danger">*</span></label>
        <input formControlName="id" type="text" class="form-control" placeholder="Training Org ID">
      </div>
    </div>
    <!-- end: Col -->
    <!-- start: Col -->
    <div class="col-md-5">
      <div class="form-group">
        <label>Name<span class="text-danger">*</span></label>
        <input formControlName="name" type="text" class="form-control" placeholder="Training Org Name">
      </div>
    </div>
    <!-- end: Col -->
    <!-- start: Col -->
    <div class="col-md-5">
      <div class="form-group">
        <label>Type ID<span class="text-danger">*</span></label>
        <select formControlName="typeId" type="text" class="form-control">
          <option value="">Training Org Type ID</option>
          <option
            *ngFor="let typeId of trainingOrganisationTypeIds"
            [value]="typeId.id">
            {{ typeId.id }} - {{ typeId.name }}
          </option>
        </select>
      </div>
    </div>
    <!-- end: Col -->
  </div>
</div>