<div [formGroup]="parent">
  <h4 class="pb-3 pt-3">Contact Details</h4>
  <div formGroupName="trainingContact">
    <div class="row">
      <!-- start: Col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Contact name<span class="text-danger">*</span></label>
          <input formControlName="contactName" type="text" class="form-control" placeholder="Contact name">
        </div>
      </div>
      <!-- end: Col -->
      <!-- start: Col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Telephone number<span class="text-danger">*</span></label>
          <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Telephone number">
        </div>
      </div>
      <!-- end: Col -->
    </div>

    <div class="row">
      <!-- start: Col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Facsimile number</label>
          <input formControlName="faxNumber" type="text" class="form-control" placeholder="Facsimile number">
        </div>
      </div>
      <!-- end: Col -->
      <!-- start: Col -->
      <div class="col-md-6">
          <div class="form-group">
          <label>Email address<span class="text-danger">*</span></label>
          <input formControlName="email" type="email" class="form-control" placeholder="Email address">
        </div>
        </div>
        <!-- end: Col -->
    </div>
  </div>
</div>