<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Subject Flag</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects">
            <td scope="row">{{ subject.id }}</td>
            <td scope="row">{{ subject.name }}</td>
            <td scope="row">{{ subject.flag }}</td>
            <td>
              <button (click)="handleView(subject.id)" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> View</button>
            </td>
          </tr>
          <tr *ngIf="!subjects?.length">
            <td colspan="4" class="text-center"><em>No data available</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>