<div [formGroup]="parent">
  <h4 class="pb-3 pt-3">Address Location</h4>
  <div formGroupName="trainingAddress">
    <div class="row">
      <!-- start: Col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Address first line</label>
          <input formControlName="firstLine" type="text" class="form-control" placeholder="Address first line">
        </div>
      </div>
      <!-- end: Col -->
      <!-- start: Col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Address second line</label>
          <input formControlName="secondLine" type="text" class="form-control" placeholder="Address second line">
        </div>
      </div>
      <!-- end: Col -->
    </div>

    <div class="row">
      <!-- start: Col -->
      <div class="col-md-5">
        <div class="form-group">
          <label>Address location - suburb</label>
          <input formControlName="suburb" type="text" class="form-control" placeholder="Address location - suburb">
        </div>
      </div>
      <!-- end: Col -->
      <!-- start: Col -->
      <div class="col-md-4">
          <div class="form-group">
          <label>State id</label>
          <input formControlName="stateId" type="text" class="form-control" placeholder="State id">
        </div>
        </div>
        <!-- end: Col -->
        <!-- start: Col -->
      <div class="col-md-3">
          <div class="form-group">
          <label>Postcode</label>
          <input formControlName="postcode" type="text" class="form-control" placeholder="Postcode">
        </div>
        </div>
        <!-- end: Col -->
    </div>
  </div>
</div>