<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type ID</th>
            <th scope="col">Address Location-suburb</th>
            <th scope="col">State ID</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rto of trainingOrganisations">
            <td>{{ rto.id }}</td>
            <td>{{ rto.name }}</td>
            <td>{{ rto.typeId }}</td>
            <td>{{ rto.addresSuburb }}</td>
            <td>{{ rto.addressStateId }}</td>
            <td>
              <a [routerLink]="['detail', rto.id]" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>