<div class="row">
  <div class="col-12">
    <h4>Create New Training Organisation</h4><br>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="trainingOrganisationForm" (ngSubmit)="onSubmit()">

          <app-training-organisation
            [parent]="trainingOrganisationForm"
            [trainingOrganisationTypeIds]="trainingOrganisationTypeIds">            
          </app-training-organisation>

          <app-training-address
          [parent]="trainingOrganisationForm">
          </app-training-address>

          <pre>
            {{ trainingOrganisationForm.value | json }}
          </pre>

        </form>
      </div>
    </div>
  </div>
</div>