<div class="row">
  <div class="col-12">
    <h4>Create New Training Organisation</h4><br>
    <form [formGroup]="trainingOrganisationForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-body">          
          <app-training-organisation
            [parent]="trainingOrganisationForm"
            [trainingOrganisationTypeIds]="trainingOrganisationTypeIds">            
          </app-training-organisation>

          <app-training-address
            [parent]="trainingOrganisationForm">
          </app-training-address>

          <app-training-contact
            [parent]="trainingOrganisationForm">            
          </app-training-contact> 
        </div>
        <div class="card-footer text-right">
          <a [routerLink]="['/training-organisation']" class="btn btn-default">Cancel</a>
          <input type="submit" class="btn btn-primary" value="Save" [disabled]="trainingOrganisationForm.invalid">
        </div>
      </div>
    </form>
  </div>
</div>